@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --color-primary: #e2791c;
  --color-primary-500: #e2791c80;
  --color-secondary: #191919;
  --color-secondary-500: #19191980;
} */

html body {
  color: #ffffff;
  background: #1c1917;
  overflow: hidden;
  width: 100%;
  position: fixed;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari 和 Opera */
}
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 和 Edge */
}

.h1 {
  font-size: 3rem;
  font-weight: 700;
}

.h2 {
  font-size: 1.75rem;
  font-weight: 700;
}

.h3 {
  font-size: 1.125rem;
  font-weight: 600;
  letter-spacing: 0.04em;
  line-height: 3rem;
}

.c1 {
  font-size: 1.125rem;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5rem;
}

.c2 {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.05em;
}

.c3 {
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 0.05em;
}
.c4 {
  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: 0.04em;
}
